<!-- Social Share Button HTML -->

<!-- X -->
<li>
    <a href="//x.com/intent/tweet?url={{ .Permalink }}&amp;text={{ .Title }}&amp;via={{ .Site.Params.author.twitter }}"
       target="_blank" alt="" title="Share on X">
        <span class="fa-stack fa-lg">
                <i class="fa-solid fa-circle fa-stack-2x"></i>
                <i class="fa-brands fa-x-twitter fa-stack-1x fa-inverse"></i>
              </span>
    </a>
</li>

<!-- Google Plus 
<li>
    <a href="//plus.google.com/share?url={{ .Permalink }}" target="_blank" title="Share on Google Plus">
         <span class="fa-stack fa-lg">
                <i class="fa-solid fa-circle fa-stack-2x"></i>
                <i class="fa-brands fa-google-plus-g fa-stack-1x fa-inverse"></i>
              </span>
    </a>
</li>
-->

<!-- Facebook -->
<li>
    <a href="//www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" title="Share on Facebook">
        <span class="fa-stack fa-lg">
                <i class="fa-solid fa-circle fa-stack-2x"></i>
                <i class="fa-brands fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
    </a>
</li>

<!-- Reddit 
<li>
    <a href="//reddit.com/submit?url={{ .Permalink }}&amp;title={{ .Title }}" target="_blank" title="Share on Reddit">
         <span class="fa-stack fa-lg">
                <i class="fa-solid fa-circle fa-stack-2x"></i>
                <i class="fa-brands fa-reddit fa-stack-1x fa-inverse"></i>
              </span>
    </a>
</li>
-->

<!-- LinkedIn -->
<li>
    <a href="//www.linkedin.com/shareArticle?url={{ .Permalink }}&amp;title={{ .Title }}" target="_blank"
       title="Share on LinkedIn">
         <span class="fa-stack fa-lg">
                <i class="fa-solid fa-circle fa-stack-2x"></i>
                <i class="fa-brands fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
    </a>
</li>

<!-- StumbleUpon 
<li>
    <a href="//www.stumbleupon.com/submit?url={{ .Permalink }}&amp;title={{ .Title }}" target="_blank"
       title="Share on StumbleUpon">
        <span class="fa-stack fa-lg">
                <i class="fa-solid fa-circle fa-stack-2x"></i>
                <i class="fa-brands fa-stumbleupon fa-stack-1x fa-inverse"></i>
              </span>
    </a>
</li>
-->

<!-- Pinterest 
<li>
    <a href="//www.pinterest.com/pin/create/button/?url={{ .Permalink }}&amp;description={{ .Title }}" target="_blank"
       title="Share on Pinterest">
         <span class="fa-stack fa-lg">
                <i class="fa-solid fa-circle fa-stack-2x"></i>
                <i class="fa-brands fa-pinterest fa-stack-1x fa-inverse"></i>
              </span>
    </a>
</li>
-->
